#form-wrapper {

    /* Center the log-in window */
    width: 400px;
    height: 440px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -200px;

    background: #feccb1; /* Old browsers */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #feccb1), color-stop(50%, #f17432), color-stop(51%, #ea5507), color-stop(100%, #fb955e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(-45deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
    background: -ms-linear-gradient(-45deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* IE10+ */
    background: -o-linear-gradient(-45deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* Opera 11.10+ */
    background: linear-gradient(135deg, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feccb1', endColorstr='#fb955e', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    -webkit-border-radius: 20px; /* Chrome 4-5, Safari 3.1-5 */
    -moz-border-radius: 20px; /* firefox 3-4 */
    border-radius: 20px;

    -webkit-box-shadow: 10px 10px 15px #888888; /* Safari 3.1-5.0, Chrome 4.0-9.0 */
    -moz-box-shadow: 10px 10px 15px #888888; /* Firefox 3.5-4.0 */
    box-shadow: 10px 10px 15px #888888;
}

#form {
    width: 370px;
    height: 405px;
    position: relative;
    top: 15px;
    left: 15px;
    background-color: #f8ffe0;

    -webkit-border-radius: 10px; /* Chrome 4-5, Safari 3.1-5 */
    -moz-border-radius: 10px; /* firefox 3-4 */
    border-radius: 10px;

    -webkit-box-shadow: inset 0 0 20px #ab6c00; /* Safari 3.1-5.0, Chrome 4.0-9.0 */
    -moz-box-shadow: inset 0 0 20px #ab6c00; /* Firefox 3.5-4.0 */
    box-shadow: inset 0 0 20px #ab6c00;
}

#username, #password, #email, #lastname, #birthday, #first_name{
    display: block;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 16px;
    color: #606060;
    width: 210px;
    padding: 5px 5px 5px 90px;
    border: none;
    margin: 5px;
    position: relative;
    left: 25px;

    background: #eeeeee; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0); /* IE6-9 */

    -webkit-border-radius: 25px; /* Chrome 4-5, Safari 3.1-5 */
    -moz-border-radius: 25px; /* firefox 3-4 */
    border-radius: 25px;

    -webkit-box-shadow: inset 0 2px 3px #888888; /* Safari 3.1-5.0, Chrome 4.0-9.0 */
    -moz-box-shadow: inset 0 2px 3px #888888; /* Firefox 3.5-4.0 */
    box-shadow: inset 0 2px 3px #888888;
}

.label {
    font-family: georgia, sans-serif;
    color: #ffffff;
    padding: 5px 6px 6px 6px;
    position: relative;
    top: 29px;
    left: 30px;
    z-index: 1;

    background: #fbbf74; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbbf74), color-stop(100%, #f1842e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fbbf74 0%, #f1842e 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #fbbf74 0%, #f1842e 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #fbbf74 0%, #f1842e 100%); /* IE10+ */
    background: -o-linear-gradient(top, #fbbf74 0%, #f1842e 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #fbbf74 0%, #f1842e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbbf74', endColorstr='#f1842e', GradientType=0); /* IE6-9 */

    -webkit-border-radius: 25px 0 0 25px; /* Chrome 4-5, Safari 3.1-5 */
    -moz-border-radius: 25px 0 0 25px; /* firefox 3-4 */
    border-radius: 25px 0 0 25px;

    -webkit-box-shadow: inset 0 0 3px 0 #fce2c1; /* Safari 3.1-5.0, Chrome 4.0-9.0 */
    -moz-box-shadow: inset 0 0 3px 0 #fce2c1; /* Firefox 3.5-4.0 */
    box-shadow: inset 0 0 3px 0 #fce2c1;
}

{

}

#submit {
    -webkit-box-shadow: inset 0 1px 0 0 #fce2c1, 2px 2px 3px #888888; /* Safari 3.1-5.0, Chrome 4.0-9.0 */
    -moz-box-shadow: inset 0 1px 0 0 #fce2c1, 2px 2px 3px #888888; /* Firefox 3.5-4.0 */
    box-shadow: inset 0 1px 0 0 #fce2c1, 2px 2px 3px #888888;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background: -moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba', GradientType=0);
    background-color: #ededed;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    position: relative;
    left: 200px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #928f90;
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

#submit:hover {

    color: #f1842e;
}

#submit:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background: -moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed', GradientType=0);
    background-color: #bab1ba;

    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;

    position: relative;
    top: 1px;
}
